{% extends 'base.html' %}

{% block contents %}
<div class="container-fluid home-max-width">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 pt-3">
            <a class="btn btn-outline-info tile-button" href="{% url 'users:profile' user.id %}" style="width: 100%; height: 150px;">Profile</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 pt-3">
            <a class="btn btn-outline-info tile-button" href="{% url 'users:change_password' %}" style="width: 100%; height: 150px;">Change Password</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 pt-3">
            <a class="btn btn-outline-info tile-button" href="#" style="width: 100%; height: 150px;">Your App</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 pt-3">
            <a class="btn btn-outline-info tile-button" href="#" style="width: 100%; height: 150px;">Your App</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 pt-3">
            <a class="btn btn-outline-info tile-button" href="#" style="width: 100%; height: 150px;">Your App</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 pt-3">
            <a class="btn btn-outline-info tile-button" href="#" style="width: 100%; height: 150px;">Your App</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 pt-3">
            <a class="btn btn-outline-info tile-button" href="#" style="width: 100%; height: 150px;">Your App</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 pt-3">
            <a class="btn btn-outline-info tile-button" href="#" style="width: 100%; height: 150px;">Your App</a>
        </div>
    </div>
</div>
{% endblock %}