{% extends 'base.html' %}

{% block contents %}
<div class="container home-max-width">
    <div class="row">
        <div class="col p-3 ">
            <a class="btn btn-outline-info tile-button" href="{% url 'users:profile' user.id %}">Profile</a>
        </div>
        <div class="col p-3">
            <a class="btn btn-outline-info tile-button" href="{% url 'users:change_password' %}">Change Password</a>
        </div>
        <div class="col p-3">
            <a class="btn btn-outline-info tile-button" href="#">Your App</a>
        </div>
        <div class="col p-3">
            <a class="btn btn-outline-info tile-button" href="#">Your App</a>
        </div>
        <div class="col p-3">
            <a class="btn btn-outline-info tile-button" href="#">Your App</a>
        </div>
        <div class="col p-3">
            <a class="btn btn-outline-info tile-button" href="#">Your App</a>
        </div>
        <div class="col p-3">
            <a class="btn btn-outline-info tile-button" href="#">Your App</a>
        </div>
        <div class="col p-3">
            <a class="btn btn-outline-info tile-button" href="#">Your App</a>
        </div>
        <div class="col p-3">
            <a class="btn btn-outline-info tile-button" href="#">Your App</a>
        </div>
    </div>
</div>
{% endblock %}