{% extends 'user_base.html' %}
{% load form_helpers %}
{% load i18n %}

{% block index %}{% trans 'Password reset' %}{% endblock %}

{% block detail %}
<p>{% trans 'Forgotten your password?' %}<br>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

{% render_errors form %}

<form action="{% url 'users:password_reset' %}" method="post">
    {% csrf_token %}
    {% render_field form.email %}
    {% trans 'Send mail' as sendmail %}
    {% render_submit_button sendmail %}
</form>
{% endblock %}
