{% extends 'base.html' %}
{% load form_helpers %}

{% block contents %}
<div class="container-fluid users-max-width">
    <div class="row">
        <div class="col px-0">
            <h3 class="text-center">Password Change</h3>
        </div>
    </div>

    {% render_errors form %}

    <form action="{% url 'users:change_password' %}" method="post">
        {% csrf_token %}
        {% render_field form.old_password %}
        {% render_field form.new_password1 %}
        {% render_field form.new_password2 %}
        <div class="d-grid gap-2 col-8 mx-auto">
            <button type="submit" class="btn btn-info btn-lg btn-block">Change</button>
        </div>
    </form>
</div>
{% endblock %}
