{% extends 'user_base.html' %}
{% load form_helpers %}

{% block index %}Password reset{% endblock %}

{% block detail %}
    {% render_errors form %}

    {% if validlink %}
    <form novalidate method="post">
        {% csrf_token %}
        {% render_field form.new_password1 %}
        {% render_field form.new_password2 %}
        {% render_submit_button 'Reset' %}
    </form>
    {% else %}
    <div class="alert alert-danger" role="alert">
        It looks like you clicked on an invalid password reset link. Please try again.
    </div>
    <div class="d-grid gap-2 col-8 mx-auto">
        <a class="btn btn-info btn-lg btn-block" href="{% url 'users:signin' %}">Sign in</a>
    </div>
    {% endif %}
{% endblock %}
