{% extends 'base.html' %}
{% load form_helpers %}

{% block contents %}
<div class="container-fluid users-max-width">
    <div class="row">
        <div class="col px-0">
            <h3 class="text-center">Sign in</h3>
        </div>
    </div>

    {% render_errors form %}

    <form action="{% url 'users:signin' %}" method="post">
        {% csrf_token %}
        {% render_field form.username %}
        {% render_field form.password %}
        <div class="text-right" style="margin-bottom: 15px;">
            <a href="{% url 'users:password_reset' %}" style="font-size: 12px;">forget password?</a>
        </div>
        <div class="d-grid gap-2 col-8 mx-auto">
            <button type="submit" class="btn btn-info btn-lg btn-block">Sign in</button>
        </div>
    </form>
    <div class="text-center">
        <a href="{% url 'users:signup' %}" style="font-size: 15pt;">Create an account</a>
    </div>
</div>
{% endblock %}
