{% extends 'user_base.html' %}
{% load form_helpers %}

{% block index %}Sign in{% endblock %}

{% block detail %}
{% render_errors form %}

<form action="{% url 'users:signin' %}" method="post">
    {% csrf_token %}
    {% render_field form.username %}
    {% render_field form.password %}
    <div class="text-right" style="margin-bottom: 15px;">
        <a href="{% url 'users:password_reset' %}" style="font-size: 12px;">forget password?</a>
    </div>
    {% render_submit_button 'Sign in' %}
    <div class="text-center">
        <a href="{% url 'users:signup' %}" style="font-size: 15pt;">Create an account</a>
    </div>
</form>
{% endblock %}
