
.users-max-width {
    max-width: 400px;
}

.home-max-width {
    max-width: 800px;
}

.text-white {
    color: white;
}

.errorlist {
    color: red;
    font-size: 14px;
}

body { 
    padding-top: 60px; 
}

.tile-button {
    height: 150px;
    text-align: center;
    margin: auto;
}
